In [1]:
import numpy as np

напишіть функцію гіпотези лінійної регресії у векторному вигляді

In [12]:
# h(x) = w0 + w1*x - лінійний вигляд
# h(x) = w * x - векторний вигляд
def h(w, X):
    ones = np.ones((X.shape[0], 1))
    X = np.concatenate((ones, X), axis=1)
    return w @ X.T

In [15]:
X = np.array([
    [1],
    [2],
    [4],
    [3]
])
w = np.array([1, 4])
print(h(w, X))

[ 5.  9. 17. 13.]

створіть функцію для обчислення функції втрат у векторному вигляді

In [57]:
# Loss Function = 1/2n E(h(x)-y)**2
# Loss Function = 1/2n E(h(x)-y)**2
def loss_function(hx, y):
    return np.mean((hx - y) ** 2) / 2

In [58]:
X = np.array([
    [1],
    [2],
    [4],
    [3]
])
y = np.dot(X, np.array([2])) + 5
hx = np.dot(X, np.array([10])) + 2
print(loss_function(hx, y))
print(len(y))

184.5
4

реалізуйте один крок градієнтного спуску

In [61]:
# w0 = w0 - LR * 1/n E(h(x)-y)
# w1 = w1 - LR * 1/n E(h(x)-y)(x)
w = np.array([1, 4])
LR = 0.001
gradient = w - LR / len(y) * X.T @ (hx - y)
gradient

array([0.9475, 3.9475])

In [62]:
import pandas as pd

In [63]:
inpDf = pd.read_csv('Housing.csv')
inpDf

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished