In [12]:
import numpy as np

In [13]:
a = np.array([[1,2,3,4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
              [17,18,19,20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
              [33,34,35,36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48],
              [49,50,51,52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64],
              [65,66,67,68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80],
              [81,82,83,84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96],
              [97,98,99,100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112],
              [113,114,115,116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128],
              [129,130,131,132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144],
              [145,146,147,148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160],
              [161,162,163,164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176],
              [177,178,179,180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192],
              [193,194,195,196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208],
              [209,210,211,212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224],
              [225,226,227,228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240],
              [241,242,243,244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256]])
a

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
         14,  15,  16],
       [ 17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,
         30,  31,  32],
       [ 33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
         46,  47,  48],
       [ 49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
         62,  63,  64],
       [ 65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
         78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
         94,  95,  96],
       [ 97,  98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109,
        110, 111, 112],
       [113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
        126, 127, 128],
       [129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141,
        142, 143, 144],
       [145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
        158, 159, 160],
       [161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173,
        174, 175, 176],
       [177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189,
        190, 191, 192],
       [193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205,
        206, 207, 208],
       [209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
        222, 223, 224],
       [225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237,
        238, 239, 240],
       [241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253,
        254, 255, 256]])

In [41]:
import pandas as pd
df = pd.DataFrame(a)
df
df.iloc[:3, :]

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16
1  17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32
2  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47  48

In [62]:
new_df = pd.DataFrame([[2, 3, 1], [5, 6, 4], [8, 9, 7], [11, 12, 10], [14, 15, 13], [17, 18, 16], [20, 21, 19], [23, 24, 22], [26, 27, 25], [29, 30, 28], [32, 33, 31], [35, 36, 34], [38, 39, 37], [41, 42, 40], [44, 45, 43], [47, 48, 46]])
new_df

     0   1   2
0    2   3   1
1    5   6   4
2    8   9   7
3   11  12  10
4   14  15  13
5   17  18  16
6   20  21  19
7   23  24  22
8   26  27  25
9   29  30  28
10  32  33  31
11  35  36  34
12  38  39  37
13  41  42  40
14  44  45  43
15  47  48  46

In [70]:
# random_array = np.array([44, 45, 46])
random_series = pd.Series([44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59])
new_df['random'] = random_series
new_df2 = pd.DataFrame(new_df, columns=[0, 'random'])
new_df2

     0  random
0    2      44
1    5      45
2    8      46
3   11      47
4   14      48
5   17      49
6   20      50
7   23      51
8   26      52
9   29      53
10  32      54
11  35      55
12  38      56
13  41      57
14  44      58
15  47      59

In [74]:
# new_df2.corr()
new_df2.drop(2, axis=1, inplace=False)
# new_df2

     0  random
0    2      44
1    5      45
3   11      47
4   14      48
5   17      49
6   20      50
7   23      51
8   26      52
9   29      53
10  32      54
11  35      55
12  38      56
13  41      57
14  44      58
15  47      59

In [76]:
import faker
fake = faker.Faker()
new_dataframe = pd.DataFrame([[1, fake.sentence()], [2, fake.sentence()], [3, fake.sentence()], [4, fake.sentence()], [5, fake.sentence()], [6, fake.sentence()], [7, fake.sentence()], [8, fake.sentence()], [9, fake.sentence()], [10, fake.sentence()], [11, fake.sentence()], [12, fake.sentence()], [13, fake.sentence()], [14, fake.sentence()], [15, fake.sentence()], [16, fake.sentence()]])
new_dataframe

     0                                                1
0    1                Tree item else gun represent his.
1    2         Congress feeling anyone whom technology.
2    3       Activity anything cell wife shoulder care.
3    4                   Collection cup event long guy.
4    5           Avoid final police staff particularly.
5    6                    Leg baby large reason forget.
6    7                         Charge lawyer bit shake.
7    8                          Among of myself police.
8    9                                    No our eight.
9   10       Morning upon process soldier such company.
10  11                        Page it increase certain.
11  12                  Necessary she moment apply may.
12  13  Finally lead daughter tell least task everyone.
13  14        Heart represent doctor pattern authority.
14  15     Wall enjoy beautiful body enough ten behind.
15  16              Compare go recognize actually here.

In [ ]:
new_dataframe[1] = new_dataframe[1].apply(lambda x: x[0])